#home-container{
    display: flex;
        
    #user-nav
    {
        width: 12%;
        padding: 25px;

        img{
            width: 150px;
        }

        h4{
            text-align: center;
        }

        a{
            text-decoration: none;
            color: #0b90c4;
        }
    }

    #feed-posts{
        width: 64%;
        margin-bottom: 100px;
        padding: 10px;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;

        #new-post-form{
            padding-left: 20px;
        }

        h4{
            text-align: center;
        }

        ul{
            list-style-type: none;
            padding-inline-start: 20px;
            
            & > li{
                background-color: aliceblue;
                color: black;
                border: 1px solid;
                margin-right: 25px;
                margin-bottom: 15px;
                padding: 15px;
                box-shadow: 5px 5px #888888;
            }

            p{
                font-size: 1.35rem;

                a{
                    text-decoration: none;
                }
            }

            small{
                font-size: 0.9rem;
            }

            input{
                margin-left: 20px;
            }
        }

        #feed-comments{
            background-color: aliceblue;
            
            li{
                background-color: black;
                color: white;
            }
        }
    }

    #user-friends{
        width: 24%;
        padding: 20px;
        height: 100%;

        h4{
            text-align: center;
        }

        a{
            text-decoration: none;
            color: #0b90c4;
        }
    }
}